body {
    background: url('img/background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: "Times New Roman", Times, serif, Arial;
}

div {
    background-color: white;
    width: 900px;
}

h1, h2 {
    color: black;
    text-align: left;
}

p {
    color: black;
    font-size: 1.0em;
    text-align: left;
}

a {
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color:#E5CC00;
} /* visited link */

a:link.textll {
    color:#E5CC00;
} /* unvisited link */

a:hover.textll {
    color:#E5CC00;
} /* mouse over link */

a:link.menuItem {
    color:#000000;
} /* unvisited link */

a:visited.menuItem {
    color:#000000;
} /* visited link */

a:hover.menuItem {
    color:#999900;
} /* unvisited link */


#footer {
    text-align: center;
}