div {
    background-color: white;
    width: 900px;
}

h1, h2 {
    color: black;
    text-align: left;
}

p {
    color: black;
    font-size: 1.0em;
    text-align: left;
}

a {
    font-weight: bold;
    text-decoration: none;
}

a:link {
    color:#FF0000;
} /* unvisited link */

a:visited {
    color:#FF0000;
} /* visited link */

a:hover {
    color:#FF0000;
} /* mouse over link */

a:hover.menuItem {
    color:#999900;
} /* unvisited link */


#footer {
    text-align: center;
}